
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productos.css">
    <title>FitH - Productos</title>
</head>
<body>

 <!--HEADERS -->
 <%-include("../partials/header.ejs") %>
<!-- HEADERS -->
<!-- MAIN -->
<main>
    <section>
        <div class="banner">
        <img src="/img/banner.png" width="100%">
        </div>


        


        <section>
          <H1>listar</H1>
            <h1>Lista de productos</h1>
        
            <ul>
              <% productos.forEach((producto) => { %>
                <li>
                  <h3>nombre<%= producto.name_product %></h3>
                  <p>descripcion<%= producto.description_product %></p>
                  <p>precio<%= producto.price %></p>
                  <p>descuento<%= producto.disctount %></p>
                  <p>stock<%= producto.stock %></p>

                </li>
              <% }) %>
            </ul>
          </section>








    </section>
</main>
<!-- FIN DEL MAIN -->
<!----------INICIO DE FOOTER--------------------------------------------------------------------------------------------->
<%-include("../partials/footer.ejs") %>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>
