<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productos.css">
    <title>FitH - Productos</title>
</head>
<body>

 <!--HEADERS -->
 <%-include("../partials/header.ejs") %>
<!-- HEADERS -->
<!-- MAIN -->
<main>
    <section>
        <div class="banner">
        <img src="/img/banner.png" width="100%">
        </div>

        <% products.forEach(product => { %>
            <h2 class="titulo"> </h2>
        </div>
        <article class="principal">
    
            <div class="division">
                <div>
                    <a href="/productos/<%= product.id %>">
                     <img src="/img/<%= product.image %>" alt="Imagen">
                     <div class="iconoenvio"><i class="fa-solid fa-truck"></i></div>
                     <span class="precios">DESCUENTO <%= product.discount %> OFF</span>
                     
                     <p class="precios">PRECIO FINAL</p>
                     <h2><%= product.price %></h2>
                     <p class="descripciones"><%= product.name %></p>
                     <div class="iconocarrito"><i class="fa-solid fa-cart-shopping"></i></div>
                    </a>
                </div>
            </div>


            <% }) %>
        
        </article>
    </section>
</main>
<!-- FIN DEL MAIN -->
<!----------INICIO DE FOOTER--------------------------------------------------------------------------------------------->
<%-include("../partials/footer.ejs") %>
<!----------FIN DE FOOTER--------------------------------------------------------------------------------------------->
</body>
</html>
